# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env*
.ssh
src/db/migrations/*

#scripts
deploy-scripts/*
ecosystem.config.cjs
scripts/*
scripts

#certs
certs/private-key.pem

# .NET
RecipeApp.Api/bin/
RecipeApp.Api/obj/
RecipeApp.Api/*.user
RecipeApp.Api/*.suo
RecipeApp.Api/*.userosscache
RecipeApp.Api/*.sln.docstates
RecipeApp.Api/.vs/
RecipeApp.Api/.vscode/
RecipeApp.Api/appsettings.Development.json
RecipeApp.Api/appsettings.Production.json
RecipeApp.Api/dotnet_migration_docs/